/* Dashboard Admin */
.cfd1-dashboard{
    background-color: gold;
    height: 300px;
    text-align: center;
}
#p-dashboard1{
    font-size: 70px;
    font-weight: bolder;
}
#p-dashboard2{
    font-size: 50px;
    font-weight: bold;
}
#p-dashboard3{
    font-size: 50px;
    font-weight: bolder;
}
#h2-create{
    text-transform: uppercase;
}
#p-sidebar1{
    font-size: 20px;
    font-weight: bolder;
}

/* Table Event */
.ctn-index h2,th,table{
    text-align: center;
}
.ctn-edit h2{
    text-align: center;
}
.ctn-create h2{
    text-align: center;
}
/* Table Participant */
.ctn-participantadmin h2,th,table{
    text-align: center;
}